body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.search-box {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #4A90E2;
    border-radius: 5px;
}

.date-filter {
    width: 60%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.date-filter input {
    padding: 8px;
    border: 2px solid #4A90E2;
    border-radius: 5px;
}

.date-filter button {
    padding: 10px 20px;
    background: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-filter button:hover {
    background: #357ABD;
}

.form-box {
    width: 60%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-box input {
    width: 97.5%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: #4A90E2;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background: #357ABD;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background: #4A90E2;
    color: white;
}

tr:hover {
    background: #f0f0f0;
}

/* Кнопка редактировать */
.edit-btn {
    background: #2196F3;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    transition: 0.25s;
    margin-right: 5px;
}

.edit-btn:hover {
    background: #1976D2;
    transform: scale(1.05);
}

/* Кнопка удалить */
.delete-btn {
    background: #F44336;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    transition: 0.25s;
}

.delete-btn:hover {
    background: #D32F2F;
    transform: scale(1.05);
}
